*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'open sans';
}


/* header */ 

header{
   width: 100%;
   height: 500px;
   background-color: green;
   background: url(../IMG/Logo\ Principal.jpg);
   background-size: 100%;
   background-attachment: fixed;
   position: relative;
   padding: 0.1px;
}

nav{
   text-align: center;
   padding-top: 400px;
}

nav > a {
   font-size: 40px;
   color: orange;
   text-decoration: none;
   margin-right: 30px;
   margin-top: 500px;
}

nav > a:hover{
   text-decoration: underline;
}

.Curva{
   position: absolute;
   bottom: 0;
   width: 100%;
}









/* main */
 
main{
   background: linear-gradient(rgb(5, 0, 49), 
   rgb(0, 0, 0, .98));
   width: 100%;
   height: auto;
   padding: 5%;
}


.contenido{
   padding: 5%;
   background: linear-gradient(rgb(0, 0, 0), 
   rgb(10, 0, 99));
   border-radius: 50px;
}

.contenido__flex{
   display: flex
}

h1{
   text-align: center;
   color: rgb(196, 149, 149);
   font-size: 75px;
   padding-bottom: 5%;
}



.contenido__1{
   width: 50%;
}
.contenido__1 > img{
   width: 95%;
   height: 540px;
   border-radius: 50px;
   border: 7.5px solid rgb(8, 0, 255);
}



.contenido__2{
   width: 50%;
}

.contenido__title1 {
   text-align: center;
   color: yellow;
   font-size: 30px;
   padding-top: 3%;
}
.contenido__beneficios{
   color: yellow;
   margin-left: 10%;
   margin-top: 1%;
   font-size: 18px;
}


.contenido__title2 {
   text-align: center;
   color: orange;
   font-size: 30px;
   padding-top: 3%;
}
.contenido__caracteristicas{
   color: orange;
   margin-left: 10%;
   margin-top: 1%;
   font-size: 18px;
}


.contenido__title3 {
   text-align: center;
   color: green;
   font-size: 30px;
   padding-top: 3%;
}
.contenido__uso{
   color: green;
   margin-left: 10%;
   margin-top: 1%;
   font-size: 18px;
}










/* Footer */


footer{
   background: #414141;
   padding: 50px 0 30px 0;
   margin: auto;
   overflow: hidden;
}

.contenedor-footer{
   display: flex;
   width: 90%;
   justify-content: space-evenly;
   margin: auto;
   padding-bottom: 50px;
   border-bottom: 1px solid #ccc;
}

.content-foo{
   text-align: center;
}

.content-foo h4{
   color: #fff;
   border-bottom: 3px solid #af20d3;
   padding-bottom: 5px;
   margin-bottom: 10px;
   font-size: 19px;
}

.content-foo p{
   color: #ccc;
   font-size: 16px;
}

.face{
   color: #ccc;
   text-decoration: none;
   font-size: 16px;
}

.Titulo-Final{
   text-align: center;
   font-size: 30px;
   margin: 20px 0 0 0;
   color: #ff4800;
}
